.DS_Store
/.build
/Packages
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/xcshareddata/xcschemes/*
!.swiftpm/xcode/xcshareddata/xcschemes/Router.xcscheme
.netrc
